<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haokan.hklockscreen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.haokan.pubic.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!--友盟begin-->
        <meta-data android:value="556bfc2467e58e495e003fdd" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${CHANNEL_NAME}" android:name="UMENG_CHANNEL"/>

        <!--微博begin-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微博end-->

        <!-- *************微信分享配置 begin -->
        <activity
            android:name="com.haokanhaokan.lockscreen.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- *************微信分享配置 end -->
        <!-- *************微信分享配置 end -->

        <!--qq精简begn-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1101819412" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--qq精简end-->
        <!--友盟end-->

        <!--使glide使用okhttp来访问网络-->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
        <!--使glide加载的图片高质量-->
        <meta-data
            android:name="com.haokan.pubic.glide.HkGlideModule"
            android:value="GlideModule" />

        <activity
            android:name="com.haokan.hklockscreen.splash.ActivitySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

            <!--android:launchMode="singleInstance"-->
        <activity
            android:name=".lockscreeninitset.ActivityLockScreenInitSet"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".setting.ActivityLockSetting"
            android:screenOrientation="portrait">
        </activity>

                  <!--android:launchMode="singleInstance"-->
        <activity android:name=".lockscreen.ActivityLockScreen"
                  android:theme="@style/myLockScreenActiviyTheme"
                  android:launchMode="singleTask"
                  android:taskAffinity="com.hk.lockscreentask"
                  android:screenOrientation="portrait">
        </activity>

            <!--android:launchMode="singleInstance"-->
        <!--<activity-->
            <!--android:name=".lockscreen.activityforlockscreen.ActivitySettingForLockPage"-->
            <!--android:taskAffinity="com.hk.lockscreentask"-->
            <!--android:screenOrientation="portrait">-->
        <!--</activity>-->

        <!--<activity android:name=".lockscreen.activityforlockscreen.ActivityWebviewForLockPage"-->
                  <!--android:launchMode="singleInstance"-->
                  <!--android:screenOrientation="portrait">-->
        <!--</activity>-->

        <!--<activity android:name=".lockscreen.activityforlockscreen.ActivityLandDetailPageForLockPage"-->
                  <!--android:launchMode="singleInstance"-->
                  <!--android:screenOrientation="portrait">-->
        <!--</activity>-->

        <!--<activity android:name=".lockscreen.activityforlockscreen.ActivityLandPageForLockPage"-->
                  <!--android:launchMode="singleInstance"-->
                  <!--android:screenOrientation="portrait">-->
        <!--</activity>-->

        <activity
            android:name=".home.ActivityHomePage"
            android:theme="@style/myLockScreenActiviyTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.ActivityPrompt_AutoStart"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone4.ActivityPrompt_AutoStart_4"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone5.ActivityPrompt_AutoStart_5"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone4.ActivityPrompt_WhiteList_4"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.ActivityPrompt_Accessablity"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone1.ActivityPrompt_CloseSysMagazine_1"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone1.ActivityPrompt_CloseSysPswd_1"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone3.ActivityPrompt_CloseSysPswd_3"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone4.ActivityPrompt_CloseSysPswd_4"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreeninitset.phone5.ActivityPrompt_CloseSysPswd_5"
            android:theme="@style/ActivityPromptTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".mycollection.ActivityMyCollection"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".setting.ActivityLockSetting_CloseSysLock_1"
            android:screenOrientation="portrait">
        </activity>

            <!--android:launchMode="singleTask"-->
        <activity
            android:name=".recommendpagedetail.ActivityDetailPageRecommend"
            android:theme="@style/MyDetailPage"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".mycollection.ActivityDetailPageMyCollection"
            android:theme="@style/MyDetailPage"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.haokan.pubic.webview.ActivityWebview"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".timeline.ActivityTimelines"
            android:screenOrientation="portrait"/>

        <activity android:name=".recommendpageland.ActivityLandPageRecommend"
                  android:screenOrientation="portrait">
        </activity>


        <activity android:name=".setting.ActivityAboutUs"
                  android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.haokan.pubic.maidian.UmengMaiDianActivity"
            android:theme="@style/myLockScreenActiviyTheme"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.haokan.pubic.clipimage.ActivityClipImage"
                  android:theme="@style/ClipImageActivityTheme"
                  android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".lockscreen.ServiceLockScreen"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.haokan.hklockscreen.lockscreenautoupdateimage.ServiceAutoUpdateImage"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.haokan.service.autoupdateimage" />
            </intent-filter>
        </service>

        <receiver
            android:name=".lockscreen.ReceiverLockScreenBoot"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.haokan.pubic.checkupdate.ServiceUpdate"/>

        <!--辅助功能的service-->
        <service
            android:name=".lockscreeninitset.ServiceMyAccessibility"
            android:label="【好看锁屏】"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/myaccessibility" />
        </service>

        <!--适应7.0以上的应用升级-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.haokanhaokan.lockscreen.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>